# Compiled files
*.exe
*.n
*.zip
test/libraries/vsc/
dump/
deploy/
repo_integration_tests/

# run.n is in the repo
!/run.n

# Runtime files
*.tmp
*.db

# IDE files
.idea

deploy_key

# Bower
www/bower_components