files:
  "/etc/nginx/conf.d/proxy.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      client_max_body_size 800M;
  # Ignore 4xx errors which we get a bunch of those in
  # the file browser version switcher - e.g. when viewing the
  # README.md file of version 1.0.0, there are links to the
  # same file in other versions, but it may be absent, thus
  # a 404 error.
  # We don't want elastic beanstalk replace instances because
  # of those 404 errors.
  "/etc/nginx/conf.d/ignore4xx.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      map $status $loggable {
      ~^[4]  0;
      default 1;
      }

      map $status $modstatus {
      ~^[4]  200;
      default $status;
      }
