version: '3'
services:
  workspace:
    image: haxe/haxelib_devcontainer_workspace:20210526150817
    init: true
    volumes:
      - /var/run/docker.sock:/var/run/docker-host.sock
      - ..:/workspace:cached
    environment:
      - HAXELIB_SERVER=haxelib
      - HAXELIB_SERVER_PORT=80
      - HAXELIB_DB_HOST=dbHost
      - HAXELIB_DB_PORT=3306
      - HAXELIB_DB_USER=dbUser
      - HAXELIB_DB_PASS=dbPass
      - HAXELIB_DB_NAME=haxelib
    user: vscode
    entrypoint: /usr/local/share/docker-init.sh
    command: sleep infinity
  haxelib:
    build: ..
    ports:
      - "80:80"
    environment:
      - HAXELIB_DB_HOST=dbHost
      - HAXELIB_DB_PORT=3306
      - HAXELIB_DB_USER=dbUser
      - HAXELIB_DB_PASS=dbPass
      - HAXELIB_DB_NAME=haxelib
    volumes:
      - ../www:/var/www/html
  dbHost:
    image: mariadb:10.5
    environment:
      - TZ=UTC
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=haxelib
      - MYSQL_USER=dbUser
      - MYSQL_PASSWORD=dbPass
    ports:
      - "3306:3306"
    restart: unless-stopped
