<!doctype html>
<html id="page">

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@title</title>
	<link href="//haxe.org/css/bootstrap.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/css/haxe-nav.css"/>
	<!--<link rel="stylesheet" type="text/css" href="/css/haxelib.css"/>-->
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
	<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,600,600italic,400' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>

	<!-- Google -->
	<link rel="author" href="https://plus.google.com/113704686911055424796/posts"/>
	<link rel="publisher" href="https://plus.google.com/113704686911055424796/"/>
	<meta name="description" content="@description" />

	<!-- Twitter card -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:creator" content="@@haxelang" />
	<meta name="twitter:site" content="@@haxelang" />
	<meta name="twitter:title" content="@title" />
	<meta name="twitter:description" value="@description">

	<!-- OpenGraph -->
	<meta property="og:title" content="@title" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="@pageUrl" />
	<meta property="og:image" content="//haxe.org/img/branding/haxe-logo-glyph.png" />
	<meta property="og:description" content="@description" />
	<meta property="og:site_name" content="Haxe - The Cross-platform Toolkit" />

	<!-- Facebook -->
</head>

<body>

<nav class="section nav dark">
		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button> <a class="brand haxe-logo" href="https://haxe.org/"><img alt="Haxe" height="21" onerror="this.src='https://haxe.org/img/haxe-logo-horizontal-on-dark.png'" src="https://haxe.org/img/haxe-logo-horizontal-on-dark.svg" width="107" /></a>
				<a class="brand sub lib" href="/">LIB</a>

				<div class="nav-collapse collapse">
				<ul class="nav pull-right search-link-menu">
					<li><a href="/search"><i class="fa fa-search"></i></a></li>
				</ul>
				<ul class="nav">
					<li class="dropdown">
						<a href="/all" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-folder-open-o"></i> Browse Projects <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/all/"><i class="fa fa-star"></i> Browse by popularity</a></li>
							<li><a href="/t/"><i class="fa fa-tags"></i> Browse by tag</a></li>
							<li><a href="/u/"><i class="fa fa-user"></i>  Browse by author</a></li>
							<!--<li><a href="/recent/">Recently Updated</a></li>-->
							<!--<li class="divider"></li>-->
						</ul>
					</li>
					<li class="dropdown">
						<a href="/documentation" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-file-o"></i> Documentation <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							@for (url in documentationPages.keys()) {
								<li @if(url==currentPage){ class="active" }><a href="@url">@documentationPages.get(url)</a></li>
							}
							<li class="divider"></li>
							<li><a href="/rss/"><i class="fa fa-rss"></i> Recent Updates RSS Feed</a></li>
							<li><a href="//lib.haxe.org/legacy/"><i class="fa fa-folder-open-o"></i> Haxe 2 Haxelib repository</a></li>
						</ul>
					</li>
					
					<li class=" divider"></li><li class=" dropdown"><a href="/documentation/" data-toggle="dropdown" class="dropdown-toggle">Learn Haxe <b class="caret"></b></a><ul class="dropdown-menu"><li class=""><a href="/documentation/introduction/">Introduction</a></li><li class=" divider"></li><li class=""><a href="/manual/">Manual</a></li><li class=""><a href="https://api.haxe.org/">API Documentation</a></li><li class=" divider"></li><li class=""><a href="https://try.haxe.org/">Try Haxe</a></li><li class=""><a href="https://lib.haxe.org/">Haxelib</a></li><li class=""><a href="https://code.haxe.org/">Code Cookbook</a></li></ul></li>
					<li class=" dropdown">
						<a href="/HaxeFoundation" data-toggle="dropdown" class="dropdown-toggle">Connect <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="https://github.com/HaxeFoundation"><i class="fa fa-github"></i> Github</a></li>
							<li><a href="https://github.com/HaxeFoundation/haxe/issues"><i class="fa fa-github"></i> Bug reports</a></li>
							<li><a href="https://stackoverflow.com/questions/tagged/haxe"><i class="fa fa-stack-exchange"></i> Stack Overflow</a></li>
							<li><a href="https://groups.google.com/group/haxelang?hl=en"><i class="fa fa-envelope-o"></i> Google Groups</a></li>
							<li><a href="https://webchat.freenode.net/?channels=haxe"><i class="fa fa-comments-o"></i> IRC</a></li>
							<li><a href="https://haxe.org/blog"><i class="fa fa-rss"></i> Blog</a></li>
							<li class="divider"></li>
							<li><a href="https://plus.google.com/communities/103302587329918132234"><i class="fa fa-google-plus"></i> Google+</a></li>
							<li><a href="https://www.facebook.com/haxe.org/"><i class="fa fa-facebook"></i> Facebook</a></li>
							<li><a href="https://twitter.com/search?q=%23haxe"><i class="fa fa-twitter"></i> #haxe</a></li>
							<li><a href="https://twitter.com/haxelang"><i class="fa fa-twitter"></i> &#64;haxelang</a></li>
							<li><a href="https://twitter.com/haxe_org"><i class="fa fa-twitter"></i> &#64;haxe_org</a></li>
							<li class="divider"></li>
							<li><a href="https://haxe.org/foundation/contact.html">Contact</a></li>
						</ul>
					</li>
				</ul></div>
			</div>
		</div>
	</nav>

<div class="page-wrap">
	@if( useWrapper ) {
		<div class="section">
			<div class="container">
				@viewContent
			</div>
		</div>
	}
	else {
		@viewContent
	}
</div>

<footer class="section dark site-footer">
	<div class="container">
		<div class="copyright">
			<p>&copy;@todaysDate.getFullYear()
				<a href="//haxe.org/foundation/" title="Haxe Foundation Website" class="hf-link">Haxe Foundation</a> | 
				<a href="https://github.com/HaxeFoundation/haxelib" title="Haxelib Github Repository" class="hf-link">Haxelib on Github</a>
		</div>
	</div>
</footer>

<script src="//haxe.org/js/jquery.min.js"></script>
<script src="//haxe.org/js/bootstrap.min.js"></script>
<script src="//haxe.org/js/client.min.js"></script>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N6H4RQ"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NXV3XR');</script>
<!-- End Google Tag Manager -->
</body>
