<div class="section homepage-banner">
	<div class="jumbotron">
		<div class="container">
			<h1>
				<img src="/img/haxe-logo.svg" class="logo" onerror="this.src='/img/haxe-logo.png'" width="80" height="80" />
				Haxe Library Manager
			</h1>
			<hr/>
			<form action="/search/" method="GET" class="form-search">
				<div class="control-group">
				  <div class="controls">
					  <span class="add-on"><i class="icon-envelope"></i></span>
					  <input type="search" name="v" class="input-xxlarge search-query" style="width:75%" placeholder="Search Haxe libraries..." />
					  <input type="submit" class="btn btn-default" value="Search" />
				  </div>
				</div>
			</form>
			<hr/>
			<p class="lead">
				<h2>A modular, open-source and cross-platform adventure</h2>
				Haxelib is the easiest way to find libraries and code for your Haxe project - and the best place you can share your code with others in the Haxe ecosystem.
				Haxelib is the package manager for the Haxe Toolkit.
			</p>
		</div>
	</div>
</div>
<div class="section homepage">
	<div class="container">
		<div class="btn-toolbar">
			<a class="btn btn-default btn-large" href="/all/"><i class="fa fa-star"></i> <strong>View all Haxelibs</strong></a>
			<a class="btn btn-default btn-large" href="/t/"><i class="fa fa-tags"></i> Browse by tag</a>
			<a class="btn btn-default btn-large" href="/u/"><i class="fa fa-user"></i> Browse by author</a>
			<a class="btn btn-default btn-large" href="/recent/"><i class="fa fa-paperclip"></i> Recent library updates</a>
			<a class="btn btn-default btn-large" href="/documentation/">Learn Haxelib</a>
		</div>
		<hr/>
		
		<div class="tags unstyled">
			@for( t in tags ) {
				<span class="tag tag-inline"><i class="fa fa-tags"></i> <a href="/t/@t.tag/"><strong>@escape(t.tag)</strong></a>&nbsp;<small>(@t.count)</small></span>
			}
		</div>
		<hr/>
		
		<h1><i class="fa fa-paperclip"></i> Recently updated</h1>
		<div class="row popular-libs-list">
			@for( i in 0...3) {
			<div class="span4">
				@for( update in latestProjects(i * 4, 4) ) {
					@if(update != null) {
					<p>
						<strong class="title"><a href="/p/@update.p.name/">@update.p.name</a></strong><br/>
						<small class="description">
							@if (update.v.comments !=null && update.v.comments.length>0){<em>@escape(update.v.comments)</em><br />}
							<a href="/p/@update.p.name/@update.v.name">@update.v.name</a> &nbsp;<span title="@update.v.date">updated @formatDate(update.v.date)</span>
						</small>
					</p>
					}
				}
			</div>
			}
		</div>
		
		<a class="btn btn-large" href="/recent/">See <strong>more recent updates</strong></a>
			
		<hr/>
		
		<h1><i class="fa fa-star"></i> Popular libraries</h1>
		<div class="row popular-libs-list">
			@for( i in 0...3) {
			<div class="span4">
				@{var popular = popularProjects(i * 2, 2);}
				@for (j in 0...popular.length) {
					@{var p = popular[j];}
					@if(p != null) {
						<p>
							<strong class="title"><a href="/p/@p.name/">@p.name</a></strong><br/> by <a href="/u/@p.author/">@p.author</a><br/>
							<em class="description">@escape(p.description)</em><br/>
							<small>
								<a href="/p/@p.name/@p.version.toSemver()">@p.version.toSemver()</a> &nbsp;<span title="@p.version.date">published @formatDate(p.version.date)</span> <br/>
								<strong>@p.downloads downloads</strong>
							</small>
							<div class="btn-toolbar">
								<a class="btn btn-default" href="/p/@p.name/"><i class="fa fa-star"></i> View project page</a>
							</div>
						</p>
						@if(j<1){<hr/>}
					}
				}
			</div>
			}
		</div>
		
		<a class="btn btn-large" href="/all/">See <strong>all haxelibs</strong></a>
		<hr/>
		
		<h1><i class="fa fa-user"></i> Popular contributors</h1>
		<br/>
		<div class="row contributors-list">
			@for( i in 0...4) {
			<div class="span3">
				@for( u in users(i*4, 4) ) {
					@if (u != null){
						<p class="user">
							<img src="//www.gravatar.com/avatar/@(u.emailHash).jpg?s=144" class="img-circle" width="48" height="48" alt="Avatar of @u.user.name" />
							<strong><a href="/u/@u.user.name/">@u.user.fullname</a></strong><br/><small>(@u.projects.length&nbsp;projects)</small>
						</p>
					}
				}
				</div>
			}
		</div>
		<a class="btn btn-large" href="/u/">See <strong>all contributors</strong></a>
		
		<hr/>
		
		<h4><strong>Many libraries are just one <code>haxelib install</code> away.</strong> This example demonstrates some of <a href="/documentation/using-haxelib/">all haxelib commands</a>.</h4>
		
		<pre class="example"><code>@exampleCode</code></pre>
			
	</div>
</div>