

<div class="row">
	<div class="span3">
    <h2>All Tags</h2>
		<ul class="tags unstyled">
				@for (t in tags) {
					<li class="tag"><i class="fa fa-tag"></i> <a href="/t/@t.tag/">@escape(t.tag)</a> <small>(@t.count)</small></li>
				}
		</ul>
	</div>
	<div class="span9">
		<h1><i class="fa fa-tag"></i> @title</h1>
		<p class="lead">@description</p>
		<div class="tag-cloud text-center">
			@for (t in tagCloud) {
				<a href="/t/@t.tag/" style="font-size: @(t.size)px">@escape(t.tag)</a>
			}
		</div>
	</div>
</div>
