<div>
	<h1>@project <small>All Versions</small></h1>
	<p class="lead">@info.desc</p>
	<div class="btn-toolbar">
		<a class="btn btn-primary" href="/p/@project/@info.curversion/">Current Version</a>
		<a class="btn btn-default" href="@info.website">Project Website</a>
	</div>
	<p></p>
	<p><a href="@info.website">@info.website</a></p>
</div>

<table class="table table-hover table-condensed">
	<thead>
		<tr>
			<th>Version</th>
			<th>Release Notes</th>
			<th>Install</th>
			<th>Downloads</th>
		</tr>
	</thead>
	<tbody>
	@for (v in allVersions) {
	<tr>
		<td>
			<a href="/p/@project/@v.name/" class="text-nowrap">@v.name</a>
			<br /><small>@v.date.substr(0,10)</small>
		</td>
		<td>@v.comments</td>
		<td><code class="text-nowrap">haxelib install @project @v.name</code></td>
		<td>@v.downloads</td>
		<!--<td>-->
			<!--<div class="btn-toolbar btn-group">-->
				<!--<a class="btn btn-small btn-default" href="/p/@project/@v.name/">View Version</a>-->
				<!--<a class="btn btn-small btn-default" href="/p/@project/@v.name/files/">Files</a>-->
				<!--<a class="btn btn-small btn-default" href="/p/@project/@v.name/api/">API Docs</a>-->
			<!--</div>-->
		<!--</td>-->
	</tr>
	}
	</tbody>
</table>
