



<div class="row">
	<div class="col-lg-8">

		<!-- Title and description -->
		<h1>@project <small>@version</small></h1>
		<p class="lead">@info.desc</p>
		<p><small>Released @versionDate.</small></p>

		<!-- Installation Instruction -->
		<p></p>
		<div class="well">
			<p>To install, run:</p>
			<pre><code>haxelib install @project @version</code></pre>
			<p>See <a href="/documentation/using-haxelib/">using Haxelib</a> in Haxelib documentation for more information.</p>
		</div>

		<!-- Links and buttons -->
		<div class="btn-toolbar">
			<a class="btn btn-primary" href="@downloadUrl"><i class="fa fa-download"></i> <strong>Download @project:@version</strong></a>
			<a class="btn btn-default" href="/p/@project/versions/">Other Versions</a>
			<a class="btn btn-default" href="/p/@project/@version/files/">Files</a>
			<!-- <a class="btn btn-default" href="/p/@project/@version/doc/">API Docs</a> -->
			<a class="btn btn-default" href="@info.website">Project Website</a>
		</div>

		<!-- Warning if they're looking at an old version -->
		<p></p>
		@if( version!=info.curversion ) {
			<p class="alert alert-warning">This is not the latest stable version of @project. See version <a href="/p/@project/@info.curversion/">@info.curversion</a> for the latest version.</p>
		}

	</div>
	<div class="col-lg-4">

		<!-- Project details -->
		<div class="table-responsive">
			<table class="table table-condensed">
				<tr class="owner"><th>Maintainer</th><td><a href="/u/@info.owner">@info.owner</a></td></tr>
				<tr class="url"><th>Website</th><td><a href="@info.website">@info.website</a></td></tr>
				<tr class="social">
					<th>Social</th>
					<td>
						<div class="hidden" id="github-buttons">
							<iframe id="github-button-star" src="" frameborder="0" scrolling="0" width="100" height="20"></iframe>
							<iframe id="github-button-fork" src="" frameborder="0" scrolling="0" width="100" height="20"></iframe>
						</div>
					</td>
				</tr>
				<tr class="version"><th>Current version</th><td>@info.curversion</td></tr>
				<tr class="owner"><th>Statistics</th><td>Installed <strong>@info.downloads</strong> times</td></tr>
				<tr class="license"><th>License</th><td>@info.license</td></tr>
				<tr class="tags">
					<th>Tags</th>
					<td>
						@{var i = 0;}
						@for( t in info.tags ) {
							@{i++;}
							<a href="/t/@t">@t</a>@if( i<info.tags.length ){, }
						}
					</td>
				</tr>
			</table>
		</div>

	</div>
</div>

<hr/>

@if (readme!="") {
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-book"></i> README.md</h3>
		</div>
		<article class="panel-body readme site-content">
			@readme
		</article>
	</div>
}

<script>
	var website = "@info.website";
	if (website.indexOf("github.com") > -1)
	{
		var githubInfo = website.split("github.com/").pop().split("/");
		var githubUser = githubInfo[0];
		var githubRepo = githubInfo[1];
		document.getElementById("github-button-star").src = "https://ghbtns.com/github-btn.html?user="+githubUser+"&repo="+githubRepo+"&type=star&count=true";
		document.getElementById("github-button-fork").src = "https://ghbtns.com/github-btn.html?user="+githubUser+"&repo="+githubRepo+"&type=fork&count=true";
		document.getElementById("github-buttons").className = "show";
	}
</script>
