
<div>
	<h1><i class="fa fa-star"></i> @project</h1>
	<p class="lead">@info.desc<br/><a href="@info.website">@info.website <span class="fa fa-external-link"></span></a></p>
</div>

<ul class="nav nav-tabs nav-justified" role="tablist">
	<li class="active"><a href="/p/@project/@if(version!=info.curversion) {@version}">@project <small>@version</small></a></li>
	<li><a href="/p/@project/@info.curversion/files/">Files</a></li>
	<li><a href="/p/@project/versions/">All Versions <small>(@allVersions.length)</small></a></li>
</ul>

<div class="row">
	<div class="span8">
		
		@if (false) {<!-- Warning if they're looking at an old version -->}
		@if( version!=info.curversion ) {
			<p class="alert alert-warning">This is not the latest stable version of @project. See version <a href="/p/@project/@info.curversion/">@info.curversion</a> for the latest version.</p>
		}
		
		@if (false) {<!-- Installation Instruction -->}
		<div class="well">
			<p>To install, run:</p>
			<pre><code>haxelib install @project @version</code> <a class="btn btn-small pull-right" href="/p/@project/@version/download/" title="Download @project:@version zip"><i class="fa fa-download"></i></a></pre>
			<p>See <a href="/documentation/using-haxelib/">using Haxelib</a> in Haxelib documentation for more information.</p>
			
		</div>

		<ul class="nav nav-tabs nav-justified" role="tablist">
			@if(hasReadme){<li @if (type == "readme") {class="active"}><a href="/p/@project/@info.curversion">About</a></li>}
			<li @if (type =="releasenotes") {class="active"}><a href="/p/@project/@info.curversion/releasenotes">Release notes</a></li>
			@if(hasChangelog){<li @if (type =="changelog") {class="active"}><a href="/p/@project/@info.curversion/changelog">Changelog</a></li>}
			@if(hasLicense){<li @if (type =="license") {class="active"}><a href="/p/@project/@info.curversion/license/" >License</a></li>}
		</ul>

		@if (type == "readme") {
			@if (false) {<!-- README -->}
			@if (hasReadme) {
				<div class="tab-pane panel panel-default active" id="readme">
					<div class="panel-heading">
						<h1 class="panel-title"><i class="fa fa-book"></i> README.md</h1>
					</div>
					<article class="panel-body readme site-content">
						@readme
					</article>
				</div>
			}
		}
			
		@if (type == "releasenotes") {
			<section class="tab-pane" id="releasenotes">
			@if (hasReleaseNotes) { 
				<h1><i class="fa fa-book"></i> @project @version Release notes</h1>
				<p>@escape(releaseNotes)</p>
			}
			</section>
		}
		
		@if (type == "changelog") {
			@if (false) {<!-- CHANGELOG -->}
			@if (hasChangelog) {
				<div class="tab-pane panel panel-default" id="changelog">
					<div class="panel-heading">
						<h1 c1ass="panel-title"><i class="fa fa-book"></i> CHANGELOG.md</h1>
					</div>
					<article class="panel-body changelog site-content">
						@changelog
					</article>
				</div>
			}
		}
			
			
		@if (type == "license") {
			@if (false) {<!-- LICENSE -->}
			@if (hasLicense) {
				<div class="tab-pane panel panel-default" id="license">
					<div class="panel-heading">
						<h1 c1ass="panel-title"><i class="fa fa-book"></i> LICENSE.md</h1>
					</div>
					<article class="panel-body changelog site-content">
						@license
					</article>
				</div>
			}
		}
	</div>
	<div class="span4">
		@if (false) {<!-- Project details -->}
		<div class="table-responsive project-details">
			<table class="table table-condensed">
				<tr>
					<td width="50%">
						<strong>Contributors</strong><br/>
					</td>
					<td>
						@for(d in info.contributors) { 
							<a href="/u/@d.name">@d.name</a><br/>
						}
					</td>
				</tr>
				<tr>
					<td><strong>Version</strong><br/>@version</a></td>
					<td><strong>Published</strong><br/><span title="@versionDate">@formatDate(versionDate)</span></td>
				</tr>
				@if (dependencies.length > 0) {
				<tr>
					<td colspan="2">
					<strong>Dependencies</strong>
					<ul class="dependencies">
					@for (dep in dependencies) { 
						@if (dep.version != null) { 
						<li><a href="/p/@dep.name/@dep.version/">@dep.name</a> <small>(@dep.version)</small> </li>
						}
						else { 
						<li><a href="/p/@dep.name/">@dep.name</a></li>
						}
					}
					</ul>
					</td>
				</tr>
				}
				<tr>
					<td colspan="2"><strong>License</strong><br/>@info.license</a></td>
				</tr>
				@if (info.tags != null && info.tags.length > 0) { 
				<tr class="tags">
					<td colspan="2">
						<ul class="tags unstyled">
							@for( t in info.tags ) {
								 <li class="tag tag-inline"><i class="fa fa-tag"></i> <a href="/t/@t/">@t</a></li>
							}
						</ul>
					</td>
				</tr>
				}
				<tr id="github-info" style="display:none">
					<td>
						<p><strong>Repository</strong></p>
						<span id="github-user-image"></span>
					</td>
					<td>
						<p id="github-user-website"></p>
						<div class="hidden" id="github-buttons">
							<iframe id="github-button-star" src="" frameborder="0" scrolling="0" width="100" height="20"></iframe>
							<iframe id="github-button-fork" src="" frameborder="0" scrolling="0" width="100" height="20"></iframe>
						</div>
					</td>
				</tr>
			</table>
		</div>

	</div>
</div>

@if (info.website.indexOf("github.com") > -1) {
@{var githubInfo = info.website.split("github.com/").pop().split("/");}
@{var githubUser = githubInfo[0];}
@{var githubRepo = githubInfo[1];}
<script>
var baseGithubUrl = "https://ghbtns.com/github-btn.html?user=@githubUser";
@if (githubRepo != null) { baseGithubUrl += "&repo=@githubRepo"; }

document.getElementById("github-info").style.display = "table-row";

document.getElementById("github-button-star").src = baseGithubUrl + "&type=star&count=true";
document.getElementById("github-button-fork").src = baseGithubUrl + "&type=fork&count=true";
document.getElementById("github-buttons").className = "show";

document.getElementById("github-user-website").innerHTML = '<span class="fa fa-github"></span> <a href="@info.website">@githubUser</a>';
document.getElementById("github-user-image").innerHTML = '<a href="@info.website"><img src="https://github.com/'+'@githubUser'+'.png?size=512" width="100%" title="@githubUser on GitHub"/></a>';
</script>
}

<script src="/js/highlighter.js"></script>

<script>
window.addEventListener("load", function() {
	$(".site-content table").addClass("table");
});
</script>
