name: CI-dev

on:
  push:
    branches-ignore:
      - master
  pull_request:
  workflow_dispatch:

env:
  EARTHLY_BUILDKIT_HOST: tcp://earthly:8372
  EARTHLY_USE_INLINE_CACHE: "true"
  EARTHLY_SAVE_INLINE_CACHE: "true"
  FORCE_COLOR: 1

jobs:
  test:
    runs-on: ubuntu-latest
    container: haxe/haxelib_devcontainer_workspace:development
    services:
      earthly:
        image: earthly/buildkitd:v0.6.2
        options: --privileged
        env:
          BUILDKIT_TCP_TRANSPORT_ENABLED: "true"
        ports:
          - 8372
        volumes:
          - /tmp/earthly
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Login to DockerHub
        if: success() && github.repository_owner == 'HaxeFoundation' && github.event_name == 'push'
        uses: docker/login-action@v1
        with:
          username: haxeci
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - run: earthly --allow-privileged +ci --GIT_REF_NAME="${{ github.ref_name }}" --GIT_SHA="${{ github.sha }}"
        env:
          EARTHLY_PUSH: "${{ github.repository_owner == 'HaxeFoundation' && github.event_name == 'push' }}"
  deploy-development:
    if: success() && github.repository_owner == 'HaxeFoundation' && github.event_name == 'push' && github.ref_name == 'development'
    needs: test
    concurrency: deploy
    runs-on: ubuntu-latest
    container: haxe/haxelib_devcontainer_workspace:${{ github.sha }}
    env:
      AWS_DEFAULT_REGION: eu-west-1
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      DIGITALOCEAN_ACCESS_TOKEN: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
      SPACES_ACCESS_KEY_ID: ${{ secrets.SPACES_ACCESS_KEY_ID }}
      SPACES_SECRET_ACCESS_KEY: ${{ secrets.SPACES_SECRET_ACCESS_KEY }}
      TF_VAR_HAXELIB_DB_PASS: ${{ secrets.TF_VAR_HAXELIB_DB_PASS }}
      TF_INPUT: 0
      TF_IN_AUTOMATION: 1
    steps:
      - uses: actions/checkout@v2
      - name: Verify image existence
        run: docker manifest inspect haxe/lib.haxe.org:${{ github.sha }}
      - name: Initialize Terraform
        run: terraform init
        working-directory: terraform
      - name: Ensure no pending infra changes
        run: terraform plan -refresh=false
        working-directory: terraform
      - name: Set haxelib-server image
        run: terraform apply -auto-approve -refresh=false
        working-directory: terraform
        env:
          TF_VAR_HAXELIB_SERVER_IMAGE_DEVELOPMENT: haxe/lib.haxe.org:${{ github.sha }}
